* {
    box-sizing: border-box;
}

.cuadrado {
    display: flex;
    border: solid thin black;
    height: 50px;
    width: 50px;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

#container {
    display: flex;
    flex-flow: row wrap;
}

#flex-container {
    margin-top: 2%;
    display: flex;
    flex-flow: row nowrap;
}